In [153]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [154]:
url_test = 'https://raw.githubusercontent.com/Chanidul/ML_Ride_Flare_Classification/master/test.csv?token=AOJDY6GIMARC46VFJYNXME27C4I4S'
test = pd.read_csv(url_test)
url_train = 'https://raw.githubusercontent.com/Chanidul/ML_Ride_Flare_Classification/master/train1.csv?token=AOJDY6HMR5SQA7UNG7ZUA627C4I7G'
train = pd.read_csv(url_train)

In [155]:
test.isnull().any()
train.isnull().any()

tripid                       False
additional_fare              False
duration                     False
meter_waiting                False
meter_waiting_fare           False
meter_waiting_till_pickup    False
pickup_time                  False
drop_time                    False
pick_lat                     False
pick_lon                     False
drop_lat                     False
drop_lon                     False
fare                         False
label                        False
dtype: bool

In [156]:
print(train.shape)

(16968, 14)

In [157]:

train= train.replace({'label':{'correct':1,'incorrect':0}})
train.head()

      tripid  additional_fare  duration  ...  drop_lon  fare  label
0  191444740              0.0      2505  ...   79.8740   0.0      0
1  191838640              0.0      1404  ...   79.8950   0.0      0
2  191840284              0.0      2699  ...   79.8529   0.0      0
3  191841099              0.0      2446  ...   79.8773   0.0      1
4  191839931              0.0      1837  ...   79.8793   0.0      0

[5 rows x 14 columns]

In [158]:
train_final = train[['tripid','additional_fare', 'duration', 'meter_waiting', 'meter_waiting_fare', 'meter_waiting_till_pickup','pick_lat','pick_lon', 'drop_lat', 'drop_lon', 'fare', 'label']]

train_final.head()

      tripid  additional_fare  duration  ...  drop_lon  fare  label
0  191444740              0.0      2505  ...   79.8740   0.0      0
1  191838640              0.0      1404  ...   79.8950   0.0      0
2  191840284              0.0      2699  ...   79.8529   0.0      0
3  191841099              0.0      2446  ...   79.8773   0.0      1
4  191839931              0.0      1837  ...   79.8793   0.0      0

[5 rows x 12 columns]

In [159]:
test_final = test[['tripid','additional_fare', 'duration', 'meter_waiting', 'meter_waiting_fare', 'meter_waiting_till_pickup','pick_lat','pick_lon', 'drop_lat', 'drop_lon', 'fare']]

test_final.head()

      tripid  additional_fare  duration  ...  drop_lat  drop_lon     fare
0  213284604             10.5       924  ...   6.77490   79.8840   289.27
1  213286352             10.5      4249  ...   6.55091   79.9706  1912.70
2  213293973             10.5      1552  ...   6.90539   79.8989   394.00
3  213294622             10.5       462  ...   6.80401   79.9407   154.32
4  213298687             10.5       814  ...   6.98875   79.8914   147.47

[5 rows x 11 columns]

In [160]:
X = train_final.loc[:, train_final.columns != "label"]
Y = train_final.loc[:, train_final.columns == "label"]

In [161]:
X_train, X_test, y_train, y_test = train_test_split(X, Y)

In [182]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=2000, random_state= 1)

In [183]:
rfc.fit(X_train, y_train.values.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=2, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=2000,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [184]:
y_pred = rfc.predict(test_final)

In [186]:
with open('pred6.csv', 'w') as fp:
    fp.write("tripid,prediction\n")
    for i,p in enumerate(y_pred):
        fp.write("{},{}\n".format(test_data['tripid'].iloc[i], y_pred[i]))

# New Section